<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>My first three.js app</title>
		<style>
			body { margin: 0; }
		</style>
	</head>
	<body>
		<script src="/scripts/three/build/three.js"></script>
		<script>
            let camera, scene, renderer, material;
            let mouseX = 0, mouseY = 0;

            let windowHalfX = window.innerWidth / 2;
            let windowHalfY = window.innerHeight / 2;

            init();
            animate();

            function init() {

                camera = new THREE.PerspectiveCamera( 55, window.innerWidth / window.innerHeight, 2, 2000 );
                camera.position.z = 1500;

                scene = new THREE.Scene();
                scene.fog = new THREE.Fog( 0x050505, 2000, 3500 );
                scene.background = new THREE.Color( 0x212121 );

                const sprite = new THREE.TextureLoader().load( '/textures/dot.png' );

                const geometry = new THREE.BufferGeometry();

                const vertices = [];
                const colors = [];

                const color = new THREE.Color();


                const spread = 3000, spreadDisplacement = spread/2;
                const particleCount = 25000;

                for ( let i = 0; i < particleCount; i ++ ) {

                    const x = Math.random() * spread - spreadDisplacement;
                    const y = Math.random() * spread - spreadDisplacement;
                    const z = Math.random() * spread - spreadDisplacement;

                    vertices.push( x, y, z );

                    const vx = Math.random()
                    const vy = Math.random()
                    const vz = Math.random()

                    colors.push( vx, vy, vz );

                }

                geometry.setAttribute( 'position', new THREE.Float32BufferAttribute( vertices, 3 ) );
                geometry.setAttribute( 'color', new THREE.Float32BufferAttribute( colors, 3 ) );

                material = new THREE.PointsMaterial( { size: 10, sizeAttenuation: true, map: sprite, alphaTest: 1, transparent: true, vertexColors: true} );
                material.color.setHSL( 1.0, 0.3, 0.7 );

                const particles = new THREE.Points( geometry, material );
                scene.add( particles );


                
                //

                renderer = new THREE.WebGLRenderer();
                renderer.setPixelRatio( window.devicePixelRatio );
                renderer.setSize( window.innerWidth, window.innerHeight );
                document.body.appendChild( renderer.domElement );

                //


                document.body.style.touchAction = 'none';

                //

                window.addEventListener( 'resize', onWindowResize );

            }

            function onWindowResize() {

                windowHalfX = window.innerWidth / 2;
                windowHalfY = window.innerHeight / 2;

                camera.aspect = window.innerWidth / window.innerHeight;
                camera.updateProjectionMatrix();

                renderer.setSize( window.innerWidth, window.innerHeight );

            }

            //

            function animate() {

                requestAnimationFrame( animate );

                render();

            }

            function render() {

                const time = Date.now() * 0.00005;

                scene.rotateY(0.0015);

                renderer.render( scene, camera );

            }
		</script>
        <div>
            <h1 id="title"><a href="/posts/">Go Home</a></h1>
        </div>
	</body>

</html>